@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: system-ui, "Roboto", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

body {
  margin: 0;
  /* height: 30vh; */
  /* background-color: #398147; */

  overflow-x: hidden;
}

#page-title {
  /* font-weight: 400; */
  /* font-family: "Playwrite HU"; */
  color: white;
  font-size: 2vw;
}

.background-icon {
  width: 10vw;
  /* opacity: 0.75; */
}

#top-left-icon {
  transform: scaleX(-1) rotate(15deg) translateX(0.2vw);
}

#top-right-icon {
  transform: rotate(15deg) translateX(0.2vw);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding-bottom: 2vw;

  background: radial-gradient(
        27% 29% at right,
        #0000 83%,
        #367743 85% 99%,
        #0000 101%
      )
      calc(16px / 2) 16px,
    radial-gradient(27% 29% at left, #0000 83%, #367743 85% 99%, #0000 101%)
      calc(16px / -2) 16px,
    radial-gradient(29% 27% at top, #0000 83%, #367743 85% 99%, #0000 101%) 0
      calc(16px / 2),
    radial-gradient(29% 27% at bottom, #0000 83%, #367743 85% 99%, #0000 101%) 0
      calc(16px / -2) #398147;
  background-size: 32px 32px;

  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
}
