@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.min.css");
:root {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: radial-gradient(
        27% 29% at right,
        #0000 83%,
        #f4f1e5 85% 99%,
        #0000 101%
      )
      calc(16px / 2) 16px,
    radial-gradient(27% 29% at left, #0000 83%, #f4f1e5 85% 99%, #0000 101%)
      calc(16px / -2) 16px,
    radial-gradient(29% 27% at top, #0000 83%, #f4f1e5 85% 99%, #0000 101%) 0
      calc(16px / 2),
    radial-gradient(29% 27% at bottom, #0000 83%, #f4f1e5 85% 99%, #0000 101%) 0
      calc(16px / -2) #ffffff;
  background-size: 32px 32px;
}

#loader-page {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.loader {
  --size-loader: 3vw;
  --size-orbe: 0.75vw;
  width: var(--size-loader);
  height: var(--size-loader);
  position: relative;
  transform: rotate(45deg);
}

.orbe {
  position: absolute;
  width: 100%;
  height: 100%;
  --delay: calc(var(--index) * 0.1s);
  animation: orbit7456 ease-in-out 1.5s var(--delay) infinite;
  opacity: calc(1 - calc(0.2 * var(--index)));
}

.orbe::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: var(--size-orbe);
  height: var(--size-orbe);
  background-color: #3ae374;
  box-shadow: 0px 0px 1.25vw 0.1vw #3ae374;
  border-radius: 50%;
}

@keyframes orbit7456 {
  0% {
  }

  80% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: white;
  border-bottom: 2px solid rgba(21, 115, 71, 0.15);
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  margin-right: 0.5vw;
}

#navbarSupportedContent {
  justify-content: right;
}

#nav-right {
  display: flex;
}

#nav-right button {
  margin-left: 0.5vw;
}

.dropdown-menu {
  text-align: center;
  text-wrap-style: balance;
  width: 20vw;
  padding: 2vw;
}

#google_translate_element > * > * {
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5vw 1vw;
  margin: 0.5vw;
  background-color: transparent;
  border: 1px solid #dee2e6;
  border-radius: 20px;
}

#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

form {
  background-color: #efeff2;
  width: 60%;
  /* border: 1px solid #dee2e6; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 4vw;
  padding: 2vw;
}

.tab {
  display: none;
}

#steps-placeholder {
  text-align: center;
  margin-top: 4vw;
}

#tab-wealth {
  display: block;
}

.input-with-label {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vw;
}

.question-circle {
  opacity: 40%;
  cursor: pointer;
  /* font-size: 0.9vw; */
}

.form-control,
.input-group,
.form-select {
  /* width: auto; */
  width: 60%;
}

.crop-input-group {
  display: flex;
  align-items: end;
}

.crop-input {
  width: 100%;
}

#crop-input-title {
  margin-bottom: 1vw;
}

label span[data-bs-toggle="popover"] {
  pointer-events: auto;
}

.livestock-input {
  width: 100%;
}

.form-label {
  margin: 0;
}

.form-select {
  max-width: fit-content;
}

#next-prev-container {
  display: flex;
  justify-content: right;
}

#next-prev-container > button {
  margin-left: 0.5vw;
}

/* Make circles that indicate the steps of the form */
.step {
  height: 1vw;
  width: 1vw;
  margin: 0 0.15vw;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid */
.step.finish {
  background-color: #04aa6d;
}

#result-section {
  display: flex;
  flex-direction: column;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.result-tab {
  display: none;
}

.selected-result {
  display: block;
}

.result-box {
  text-align: center;
  background-color: #efeff2;
  border-radius: 20px;
}

#result-details {
  background-color: #efeff2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#reset-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
}

.livestock-result,
.total-result {
  text-align: center;
  list-style: none;
}

#footer-section {
  background: radial-gradient(
        27% 29% at right,
        #0000 83%,
        #367743 85% 99%,
        #0000 101%
      )
      calc(16px / 2) 16px,
    radial-gradient(27% 29% at left, #0000 83%, #367743 85% 99%, #0000 101%)
      calc(16px / -2) 16px,
    radial-gradient(29% 27% at top, #0000 83%, #367743 85% 99%, #0000 101%) 0
      calc(16px / 2),
    radial-gradient(29% 27% at bottom, #0000 83%, #367743 85% 99%, #0000 101%) 0
      calc(16px / -2) #398147;
  background-size: 32px 32px;

  color: white;
}

#footer-section a {
  color: rgba(255, 255, 255, 0.75) !important;
}

footer .nav.flex-column {
  column-count: 3;
  column-gap: 2vw;
  max-height: 25vh; /* Limit footer height */
}

#result-user-summary {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: auto;
}

#result-summary-title,
#result-details-title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #efeff2;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 1.5vw;
  cursor: pointer;
}

.result-summary-entry {
  display: flex;
  justify-content: space-between;
  background-color: #efeff2;
}

.result-summary-key {
  font-weight: bold;
  text-transform: capitalize;
  padding: 0.5vw 2vw;
}

.result-summary-value {
  opacity: 0.5;
  text-transform: uppercase;
  padding: 0.5vw 2vw;
}
